/* styles in src/style directory are applied to the whole page */
app{
    display: grid;
    grid-template-areas: "header header header"
                            "first second third" 
                            "footer footer footer" ;
    padding:1rem;
    align-items: center;
    grid-gap:1rem;
}

header{
    grid-area: header;
    min-height: 5rem;
    background-color: teal;
}
first{
    grid-area: first;
}
second{
    grid-area: second;
}
third{
    grid-area: third;
}
footer{
    grid-area: footer;
    min-height: 5rem;
    background-color: teal;
}